.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
}

form {
  margin: 20px 0;
}

input {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
  margin-left: 10px;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  width: 300px;
  text-align: left;
}

.recipe img {
  width: 100%;
  border-radius: 10px;
}

.recipe h2 {
  font-size: 18px;
}

.recipe p {
  font-size: 14px;
}

.recipe a {
  color: #007bff;
  text-decoration: none;
}

.recipe a:hover {
  text-decoration: underline;
}


:root {
  --primary-color: #4CAF50;
  --secondary-color: #FF9800;
  --background-color: #f5f5f5;
  --text-color: #333;
  --dark-gray: #333;
  --light-gray: #f5f5f5;
}

body {
  background-color: var(--background-color);
}